NEXT_PUBLIC_INFURA_ID=ed9edd44d7d64112a32daee9617e8eab
NEXT_PUBLIC_ALCHEMY_ID=Z0uMyid7FBtT9PcHYY4domcejVC7RRIL
NEXT_PUBLIC_ADMIN_API_URL=https://theo-backend-prod.onrender.com
# see https://www.unixtimestamp.com/index.php
NEXT_PUBLIC_WHITELIST_EXPIRY_EPOCH_SECONDS=1687458395
NEXT_PUBLIC_USDC_ADDRESS=0x9912c3a813B3e4a5869C83C36D2BB37f140d1410
NEXT_PUBLIC_ETH_ADDRESS=0xB4FBF271143F4FBf7B91A5ded31805e42b2208d6
NEXT_PUBLIC_CHAIN_ID=5
NEXT_PUBLIC_PURCHASE_CACHE_SECS=60
NEXT_PUBLIC_GROUPED_BOND_MKTS_CACHE_SECS=60
NEXT_PUBLIC_PRICE_CACHE_SECS=60
NEXT_PUBLIC_CACHE_KEY=theoCache
